@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    width: 100vw;
    height: 100vh;
    font-size: 62.5%;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

:root{
    --font-titulos: 'Poppins', sans-serif;
    --font-topicos: "Bebas Neue", sans-serif;
}

body {
    font-family: sans-serif;
}

header {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 63px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}

header img {
    width: 55px;
}

.inicio {
    width: 100;
    height: 400px;
    padding: 30px;

    background-image: linear-gradient(rgba(29, 29, 29, 0.8), rgba(29, 29, 29, 0.8)), url(../images/newbackground.jpg);
    background-size: cover;
    background-position: center 70%;
    margin-top: 63px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.inicio h1 {
    color: #ebebeb;
    font-family: var(--font-titulos);
    font-weight: 600;
    font-size: 55px;
    line-height: 1;
    margin: 5px 5px 5px 5px;
    text-align: center;
}

.inicio p {
    color: #ebebeb;
    font-family: var(--font-titulos);
    font-weight: 400;
    font-size: 20px;
    margin: 5px 5px 0px 5px;
    text-align: center;
}

.quebra {
    height: 70px;
    background-color: #e4e4e4;
}

/* produtos para parede */

.produtos {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

.produtos img {
    width: 100%;
}

.produtos-one {
    width: 80%;
    margin-top: 5px;
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    gap: 15px;

    @media (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }
}

.produtos-one .info {
    background-color: #e4e4e4;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.produtos-one div {
    
}

footer {
    background-color: black;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    padding: 10px;
}

footer h6 {
    color: white;
    font-family: var(--font-titulos);
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    margin: 0px;
}

footer a {
    color: white;
    font-size: 40px;
}