@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    width: 100vw;
    height: 100vh;
    font-size: 62.5%;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

:root{
    --font-titulos: 'Poppins', sans-serif;
    --font-topicos: 'Fredoka', sans-serif;
}

body {
    font-family: sans-serif;
}

header {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 65px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}

header ul {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    margin-top: 20px;
}

header a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--font-topicos);
    font-size: 15px;
    font-weight: 500;
    color: #e4e4e4;
    margin: 13px;
}

header a::after {
    content: '';
    width: 0;
    background-color: #e4e4e4;
    display: block;
    height: 2px;
    transition: width 0.3s ease;
}
header a:hover::after {
    width: 100%;
}

header img {
    width: 55px;
}

.inicio {
    width: 100;
    height: 400px;
    padding: 30px;

    background-image: linear-gradient(rgba(29, 29, 29, 0.8), rgba(29, 29, 29, 0.8)), url(../images/newbackground.jpg);
    background-size: cover;
    background-position: center 70%;
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.inicio h1 {
    color: #ebebeb;
    font-family: var(--font-titulos);
    font-weight: 600;
    font-size: 55px;
    line-height: 1;
    margin: 5px 5px 5px 5px;
    text-align: center;
}

.inicio p {
    color: #ebebeb;
    font-family: var(--font-titulos);
    font-weight: 400;
    font-size: 20px;
    margin: 5px 5px 0px 5px;
    text-align: center;
}

/* produtos para parede */

.produtos {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f8f8f8;    
    text-transform: uppercase;
}

/* titulo "para fixar na parede" */
.produtos .intro {
    text-align: center;
    font-family: var(--font-topicos);
    font-weight: 400;
    font-size: 30px;
    padding: 25px;
}

.produtos-one {
    width: 75%;
    margin-top: 5px;
    margin-bottom: 70px;
    display: grid;
    flex-direction: column;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: 13px;
}

@media (max-width: 768px) {
    .produtos-one {
        grid-template-columns: repeat(2, 1fr);
        width: 90%;
    }
}

.produtos .produtos-one img {
    width: 100%;
    border-radius: 10px;
}

.produtos-one .info {
    width: 100%;
    background-color: #e4e4e4;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    /* padding-top: 5px;
    padding-bottom: 10px; */
}

.produtos-one .info h2 {
    font-family: var(--font-titulos);
    font-weight: 600;
    font-size: 15px;
    line-height: 16px;
    /* margin: 5px 5px 0px 5px; */
    color: #3d3d3d;
}

.produtos-one .info h3 {
    font-family: var(--font-titulos);
    font-weight: 600;
    font-size: 15px;
    margin: 0px 5px 5px 5px;
    padding-top: 0px;
}

/* creditos do botão usado: https://getcssscan.com/css-buttons-examples */
.produtos-one .info .botao {
    appearance: none;
    background-color: black;
    border: 2px solid #1A1A1A;

    border-radius: 8px;
    box-sizing: border-box;
    color: #f8f8f8;

    cursor: pointer;
    display: inline-block;
    font-family: var(--font-titulos);
    font-size: 13px;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    min-height: 5px;
    min-width: 0;
    outline: none;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 70%;
    will-change: transform;
    text-transform: uppercase;
}

.produtos-one .info .botao:disabled {
    pointer-events: none;
}

.produtos-one .info .botao:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
    transition: 600ms;
    background-color: #e4e4e4;
    border: 2px solid #1A1A1A;
    color: #3B3B3B;
}

.produtos-one .info .botao:active{
    box-shadow: none;
    transform: translateY(0);
}

.produtos-one div {
    background-color: #e4e4e4;
    border-radius: 6px;
}

/* quebra com proposta */

.quebra {
    height: 200px;
    background-color: #e4e4e4;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
    padding: 5px;
}

.quebra img {
    width: 100px;
}

.quebra p {
    font-family: var(--font-topicos);
    font-weight: 300;
    font-size: 20px;
    margin: 10px;
}

footer {
    background-color: black;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    padding: 10px;
}

footer h6 {
    color: white;
    font-family: var(--font-titulos);
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    margin: 0px;
}

footer ul {
    display: flex;
    align-content: center;
}

footer a {
    color: white;
    font-size: 35px;
    margin: 8px;
}